<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Azure.AI.ContentSafety.Endpoint" value=""/>
      <setting name="Azure.AI.ContentSafety.AccessKey" value=""/>
      <setting name="Azure.AI.ContentSafety.CustomBlockList" value=""/>
    </settings>
  </sitecore>
</configuration>
